<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peony.ibatis.repository.BookDAO">


     <!--控制是否开启二级缓存（namespace范围）-->
    <!--<cache />-->

    <!--<cache-ref namespace="com.peony.ibatis.repository.BookDAO"/>-->

    <insert id="insert" parameterType="com.peony.ibatis.entity.BookDO">
        insert into book(name)
        values (#{name})
    </insert>


    <select id="select" parameterType="com.peony.ibatis.entity.BookDO" resultType="com.peony.ibatis.entity.BookDO">
        select
        `id` as id,
        `name` as name
        from book
        where id = #{id}
    </select>


</mapper>